html,
body {
  margin: 0;
  overflow-y: hidden;
  font-family: IPix, PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif !important;
  @apply text-primary bg-primary-extralight;
  overflow: hidden;
}

.font-nomc {
  font-family: PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif !important;
}

#app {
  @apply h-100vh w-100vw;
  @apply flex justify-center items-center;
}

* {
  outline: none !important;
  @apply box-border;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  @apply bg-primary;
  color: #fff;
}
